<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div data-role="page" data-theme="b">
        <div class="" data-role="header">
            <h1>Abarrotes TI</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="home">Inicio</a></li>
                    <li><a href="#" data-icon="eye" class="ui-btn-active">Productos</a></li>
                    <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">
            <form action="/<%= product.barcode%>" method="post">
                <input type="text" name="barcode" placeholder="Código de barras" value="<%= product.barcode %>">
                <input type="text" name="description" placeholder="Descripción" value="<%= product.description %>">
                <input type="text" name="brand" placeholder="Marca" value="<%= product.brand %>">
                <input type="number" name="price" placeholder="Precio"value="<%= product.price %>">
                <input type="number" name="cost" placeholder="Costo" value="<%= product.cost %>">
                <input type="number" name="stock" placeholder="Stock" value="<%= product.stock %>">
                <input type="date" name="expiredDate" placeholder="Fecha de expiracion" value="<%= product.expiredDate %>">
                <label for="status">Activo</label>
                <select name="status" data-role="slider">
                    <%if(product.status == 1){%>
                    <option value="0" >No</option>
                    <option value="1" selected>Si</option>
                    <%}else{%>
                    <option value="0" selected>No</option>
                    <option value="1" >Si</option>
                    <%}%>
                    v
                </select>
                <button class="ui-shadow ui-btn ui-corner-all" type="submit">Actualizar</button>
            </form> 
</body>

</html>